:root {
  --primary: #49ff8c;    /* Натуральный зеленый */
  --primary-light: #c6f1d5;
  --secondary: #ca8a04;  /* Тёплый желтый */
  --accent: #ea580c;     /* Терракотовый акцент */
  --neutral: #57534e;    /* Neutral brown-gray */
  --light: #faf7f5;      /* Кремовый фон */
};
body {
    height: 100vh;
    background-color: var(--primary-light);
    margin: 0;
}
* {
    box-sizing: border-box;
    font-family: 'Inter';
};
h1 {
    margin: 0;
}
h2 {
    margin: 0;
}
ul {
    margin: 12px 0;
    padding: 0 20px;
}
li {
    font-weight: 300;
}

.to-do_list {
    background-color: var(--primary-light);
    padding: 15px 10px;
    &__base {
        background-color: var(--light);
        border-radius: 5px;
    }
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 58px;
        padding: 0 10px;
        &__title {
            display: inline;
            font-weight: 500;
        }

        &__wrapper {
            
            &__info {
                &__btn {
                    background: transparent;
                    border: none;
                    cursor: pointer;
                }
                &__img {
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }

    &__info {
        margin-top: 15px;
        padding: 10px;
        &__wrapper {
            display: flex;
            justify-content: space-between;
            &__title {
                font-weight: 500;
            }
            &__sleep {
                &__btn {
                    background: transparent;
                    border: none;
                    cursor: pointer;
                }
                &__img {
                    width: 32px;
                    height: 32px;
                }
            }
        }
        &__possibl {
            margin-top: 10px;
            font-weight: 500;
        }

        &__text {
            font-weight: 300;
        }
        
    }
}

.input-group {
    display: flex;
    margin-top: 15px;
    
    &__user-input {
        width: 95%;
        height: 46px;
        font-size: 15px;
        padding: 5px 10px;
        border: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        
    }
    &__btn {
        padding: 6px;
        border: none;
        border-radius: 5px;
        width: 50px;
        cursor: pointer;
        background-color: var(--light);
    }
}
.list-group {
    margin-top: 15px;
    &__elem {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        padding: 15px;
        margin-bottom: 15px;
        &__checkbox {
            margin: 0;
            transform: scale(1.3);
        }
        &__text {
            flex: 1;
            margin: 0;
        }
    }
}

.add {
    max-height: 100%;
    position: relative;
    &__base {
        background-color: black;
    }
    &1 {
        position: absolute;
        width: 2px;
        height: 25px;
        top: -12px;
        right: 17px;
    }
    &2 {
        position: absolute;
        height: 2px;
        width: 25px;
        top: -1px;
        right: 6px;
    }
}
.sleep {
    display: none;
}
.container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}